.navbar.navbar-default
  .navbar-header
  %ul.nav.navbar-nav
    %li
      =link_to 'Новости', admin_news_index_path
    %li
      =link_to 'Документы', admin_docs_path
    %li
      =link_to 'Письма пользователей', admin_user_requests_path

