.container
  .row
    .col-md-6
      .panel.panel-success
        .panel-heading
          Редактируем документ 
        .panel-body
          = simple_form_for @doc, url: {action: 'update'}, html: { multipart: true } do |f|
            = f.input :title, label: 'Название документа'
            = f.input :document, as: :file, label: 'Загрузить pdf'
            = f.button :submit, 'Обновить'
