.container
  .row
    .col-md-8
      .panel.panel-default
        %table.table
          %tr.info
            %td Документы
            %td
          - @docs.each do |doc|
            %tr
              %td 
                = doc.title
              %td 
                .text-right
                  = link_to content_tag('span','',class: 'glyphicon glyphicon-search'), doc.document.url
    =render './layouts/time'  
