.container
  .row
    .col-md-8
      %table.table
        %tr.info
          %td Документы
          %td
        - @docs.each do |doc|
          %tr
            %td 
              = doc.title
            %td 
              .text-right
                = link_to content_tag('span','',class: 'glyphicon glyphicon-search'), doc.document.url
                -if user_signed_in? and current_user.admin 
                  = link_to content_tag('span','', class: 'glyphicon glyphicon-pencil'), edit_doc_path(doc)
                  = link_to content_tag('span','', class: 'glyphicon glyphicon-remove'),doc, method: :delete, data: {confirm: 'Are you sure?'} 
      =link_to content_tag('span','', class: 'glyphicon glyphicon-plus'), new_doc_path if user_signed_in? and current_user.admin 
    =render './layouts/time'  
