.container
  .col-md-8
    .alert.alert-info
      %h4
        .text-center
          %strong
            Информация для жильцов
    .panel.panel-default
      - @news.each do |new| 
        %h3.text-center 
          %strong
            = new.title
        %p.text-center
          = new.description 
        %h5.text-right
          = new.date.strftime('%d-%m-%Y')
        %hr
  = render './layouts/time'      
