.container
  .row
    .col-md-6
      .panel.panel-success
        .panel-heading
          Создаем собщение... 
        .panel-body
          = simple_form_for @new, url: {action: 'create'} do |f| 
            = f.input :title, label: 'Заголовок' 
            = f.input :description, as: :text, label: 'Сообщение'
            = f.button :submit,'Создать'
