.container
  .row
    .col-md-8
      .panel.panel-default
        %table.table
          %tr.info
            %td Реквизиты
            %td
          %tr
            %td Полное название организации
            %td Товарищество собственников жилья "Гвардейская площадь 10"
          %tr
            %td Краткое название организации
            %td ТСЖ "Гвардейская площадь 10"
          %tr
            %td Фактический адрес
            %td 172800 Тверская область, г. Андреаполь, пл. Гвардейская, д. 10
          %tr
            %td Юридический адрес
            %td 172800 Тверская область, г. Андреаполь, пл. Гвардейская, д. 10
          %tr
            %td ИНН
            %td 6917003243
          %tr
            %td КПП
            %td 691701001
          %tr
            %td ОГРН
            %td 1146913000101
          %tr
            %td ОКПО
            %td 21320683
          %tr
            %td Расчетный счет
            %td № 40703810719150000038 в Тверском РФ АО Россельхозбанк
          %tr
    = render './layouts/time'      
  .row
    .col-md-8
      .panel.panel-default
        %table.table
          %tr.info
            %td Руководство
            %td
            %td
          %tr
            %td Председатель правления ТСЖ
            %td Соловьев Валерий Николаевич
            %td +7-910-530-87-21
          %tr
            %td Заместитель
            %td Юхно Владимир Михайлович
            %td  +7-905-127-60-60
  .row
    .col-md-4
      .panel.panel-default
        %table.table
          %tr.info
            %td Правление ТСЖ
          %tr
            %td Соловьев Валерий Николаевич
          %tr
            %td Олейник Надежда Михайловна
          %tr
            %td Балан Роман Валерьевич
          %tr
            %td Петров Юрий Иванович
          %tr
            %td Юхно Владимир Михайлович
          %tr.info
            %td Ревизионная комиссия
          %tr
            %td Захарова Любовь Георгиевна
          %tr
            %td Андреева Галина Тимофеевна
          %tr
            %td Медведева Галина Николаевна
          %tr.info
            %td Бухгалтер
          %tr
            %td Лапшина Марина Юрьевна
