.col-md-4
  .panel.panel-default
    %table.table
      %tr.success
        %td Режим работы
      %tr
        %td Пн-Пт 19.00-21.00
      %tr
        %td Cб, Вск Выходной
      %tr.success
        %td Телефон
      %tr
        %td +7-910-530-87-21
